* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#container {
  background-image: linear-gradient(to bottom, #ffffff, #e7e7e7);
  height: 100vh;
  width: 100vw;
  padding: 10px 10px;
  background-size: cover;
}

#calculator {
  height: 90vh;
  width: 350px;
  background-color: #5e5eda;
  margin: 10px auto;
  box-shadow: 4px 4px 40px rgb(0, 0, 0, 0.1);
}

#calculator-screen {
  width: 100%;
  height: 120px;
  border: none;
  text-align: right;
  font-size: 32px;
  box-sizing: border-box;
  padding: 0 14px;
  background-color: #13121a;
  color: #fff;
}

.calculator-button {
  margin: 10px 10px;
  padding: 10px 8px;
}

.calculator-button .row .number,
.calculator-button .row .operator,
.calculator-button .row .all-clear,
.calculator-button .row .clear,
.calculator-button .row .desimal,
.calculator-button .row .persen {
  width: 75px;
  height: 60px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.calculator-button .row .equal {
  width: 154px;
  height: 60px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  background-color: #f1ff76;
}

.calculator-button .row {
  margin-bottom: 10px;
}

.calculator-button button {
  transition: 0.4;
}

.calculator-button .row .operator,
.calculator-button .row .all-clear,
.calculator-button .row .clear {
  background-color: #ff9376;
}

.calculator-button button:hover {
  opacity: 0.9;
  transform: scale(0.9);
}

#boxColor {
  text-align: center;
  margin-left: 300px;
}

#boxColor .change:hover {
  transform: scale(1.2);
}

#boxColor .change {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

#boxColor #changeBg {
  background-color: #5e5eda;
}

#boxColor #changeBg3 {
  background-color: #661053;
}
